.about {
    margin-top: 10%;
    display: flex;
    flex-direction: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.hero-pic {
    width: 20%;
    height: auto;
    border-radius: 100px;
}
.about-text {
    font-weight: 400;
    color: white;
    width: 500px;
    height: auto;
    hyphens: auto; 
	text-align: justify;
    margin: 30px;
    font-size: 1rem;
    background-color: #111113;
    padding: 60px;

}

.ellipse-about {
    position: absolute;
    height: 300px;
    z-index: -1;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 60%;
}

.about button {
  justify-content: end;
  padding: 5px 16px;
  background-color: #111113;
  border: 1.5px solid #c5c5c5 !important;
  cursor: pointer;
  border-radius: 40px;
  width: fit-content;
  margin-top: 16px;
  font-size: 1rem;
  font-weight:600;
  transition: all 0.2s ease-out;
}

.about button:hover {
  background-color: #c5c5c5 !important;
  color: #111113;
}