.about {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 10%;
    justify-content: center;
    gap: 56px;
}

.hero-pic {
    width: 20%;
    height: auto;
    max-height: 400px; 
    object-fit: cover; 
}

.about-text {
    font-weight: 400;
    color: white;
    max-width: 50%;
    height: auto; /* Remove if you want the text to grow */
    hyphens: auto;
    text-align:left;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 600px) {
    .about {
        margin-top: 100px;
        flex-direction: column;
        gap: 32px;
    }

    .about-text {
        hyphens: auto;
        margin: 16px;
        padding: 40px;
    }

    .hero-pic {
        width: 50%;
        max-height: 300px; /* Adjust as needed */
    }
}

.btnDiv {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
.about button {
    justify-content: end;
    padding: 5px 16px;
    background-color: transparent;
    border: 1.5px solid #c5c5c5 !important;
    cursor: pointer;
    border-radius: 8px;
    width: fit-content;
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-out;
}

.about button:hover {
    background-color: #c5c5c5 !important;
    color: #07070b;
}

.icon-fi {
    transform: translate(4px, 2px);
    mix-blend-mode: difference;
    stroke-width: 2.5;
}
