  .about-text {
      color: black;
      width: 500px;
      hyphens: auto;
      text-align: justify
  }

  .project-container {
    row-gap: 50px;
  }

  .project-box {
    box-sizing: border-box;
    border: solid pink;
    margin-bottom: 40px;
    padding: 10px;
  }

  .project-image {
    margin: 20px;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    width: 80%;
  }

  .project-text {
    float: inline-end;
    font-size: 3vmin;
  }