
.port-text{
  padding: 0 15px 0 15px;
  padding-top: 100px;
  text-align: left;
  width: 100%; 
  grid-column: 1 / -1; 
}


.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: auto;
  row-gap: 20px;
  padding-top: 3%;
}

.portfolio-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-image {
  width: 90%;
  margin-bottom: 20px;
}

.gallery-image:hover {
  width: 90%;
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (min-width: 600px){
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
  }
}

@media screen and (min-width: 992px){
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
  }
}
