.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: auto;
  row-gap: 20px;
}

.portfolio-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-image {
  width: 90%;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px){
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
  }
}

@media screen and (min-width: 992px){
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
  }
}
