.db {
    border-radius: 10px;
    margin-left: 150px; 
    margin-right: 150px;
    background: linear-gradient(to right, #c092e4,#7471d2);
}

.DB {
    margin-top: 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    padding: 50px 50px 0px 50px;
}

.DB-Top {
    margin-left: 30px;
    height: 100vh;
    margin-right: 150px;
}

.DB-Top t0 {
    font-size: 3rem;
    font-weight: 900;
}

.DB-Top t3 {
    padding-left: 8px;
    max-width: 300px;
}

.mockup1-image {
    position: relative;
    translate: 350px -50px;
    max-width: 500px;
    min-width: 100px;
}

.function {
    position: absolute;
    margin: 100px;
    width: 400px;
}

.app-info {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 40px;
    hyphens: auto;
}

.app-info > t3 {
    width: 100%;
}

.mockup2-image {
    max-height: 250px;
    min-height: 100px;
}

.shape-row {
    margin: 200px 60px 0px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.shape-image {
    width: 150px;
    mix-blend-mode: color-dodge;
    opacity: 70%;
    margin-bottom: 20px;
}

.shape-info {
    display: flex-start;
    flex-direction: column;
    max-width: 220px;
    min-width: 100px;
    margin: 0 auto;
  }
  

.shape-info > t1 {
    display: flex;
    justify-content: center;
}

.shape-info > t3 {
    text-align: center;
    hyphens: auto;
}

.DB-Bottom{
    margin-top: 40px;
    padding: 100px 100px 100px 100px;
}

.stichpunkte {
    padding-top: 20px;
}

.examples{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.stichpunkte t3{
    display: inline;
}
.stichpunkte t3 span{
    font-weight: bolder;
}
.emergency{
    font-weight: bold;
}

/* .examples t3::first-letter {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
  } */
  

@media screen and (max-width: 800px){
.app-info {
    flex-wrap: wrap;
}
.db {
    margin-left: 50px; 
    margin-right: 50px;
}
}
