.edu {
    border-radius: 10px;
    margin-left: 150px; 
    margin-right: 150px;
    background: linear-gradient(to right, #0011F1,#5a62ff);
    margin-top: 100px;
}    


.EDU {
    margin-top: 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    padding: 50px 50px 0px 50px;
}
.eduimage {
    position: relative;
    translate: 350px -70px;
    width: 90%;    
    min-width: 350px;
}

.mockup3-image {
    margin-top: 88px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  

.eduText{
    margin-top: -100px;
    padding: 30px 100px 100px 100px;
    background: white; 
    border-radius: 0px 0px 10px 10px;
}


.Edu-Top t3 {
    width: 380px;
}

.eduText > t1,.eduText > t3, .stichpunkteEdu > t3,.examplesEdu > t3  {
    color: black;
}

.eduText > t1 {
line-height: 2;}

.examplesEdu{
    margin-top: -45px;
}



.Edu-Top {
    margin-left: 30px;
    height: 100vh;
    margin-right: 150px;
}

.Edu-Top t0 {
    font-size: 3rem;
    font-weight: 900;
}

.Edu-Top t3 {
    padding-left: 8px;
    width: 380px;
}

.stichpunkteEdu {
    padding-top: 40px;
}

@media screen and (max-width: 800px){
.edu {
    width: 100vw;
    border-radius: 0px;
    margin: 0px; 
}

.EDU {
    margin-right: 0px;
    padding: 20px 0px;
}

.mockup1-image {
    position: relative;
    margin-top: 8px;
    translate: -16px;
    width: 380px;
}


.eduimage {
    translate: -20px 100px;
    justify-content: center;
    align-items: center;
    width: 80%;    
}

.Edu-Top {
    height: 80vh;
}

.Edu-Top t0 {
    font-size: 2rem;
    font-weight: 900;
}
.Edu-Top t3 {
    padding-left: 0px;
    width: 80vw;
    margin: 0px;
}

.eduText{
    margin-top: 8px;
    padding: 20px 32px 56px;
}

.stichpunkteEdu {
    padding-top: 20px;
}

.examplesEdu{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.stichpunkteEdu t3{
    display: inline;
}
.stichpunkteEdu t3 span{
    font-weight: bolder;
}
}
