.gen-text{
    padding: 0px 40px 0px 40px;
    text-align: left;
    max-width: 1000px;
    min-width: 400px;
}
.gen-text > t1 {
    line-height: 2.5;
}
.generative {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    row-gap: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 24px 0px;
  }
  
  
.gen-image {
    width: 200px;
    height: auto;
}
.bus-image {
    width: 71vw;
    height: auto;
    padding: 48px 0px 80px;
}

.gen-posters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.gen-video {
    width: auto;
    height: auto;
}


.gen-videos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 100px;
}
/* 
.comp {
    padding: 50px;
}   */
  