.meta {
    padding-top: 240px;
    translate: -300px;
}

/* ______meta-info______ */

.meta-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.metagirl {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100 vh;
    z-index: -1;
}

.meta-info {
    display: flex;
    justify-content: center;
    margin: 680px 0px 180px;
    gap: 135px;
}

.meta-info1 > t1, .meta-info2 > t1 {
    font-weight: 700;
}

.meta-info1 {
    width: 400px;
    height: auto;
}

.meta-info2 {
    width: 400px;
    height: auto;
}



.meta > t3 {
    text-align: center;
    padding-top: 10px;
}

.meta-info > t3 {
    hyphens: auto;
    text-align: justify;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
}

.meta-info1 > t1 , .meta-info2 > t1 {
    line-height: 2.5;
}

metpics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    padding: 0 16px 0;
}

.process-pic {
    width: 50vw;
}

.meta-def {
    font-weight: 400;
    color: white;
    max-width: 600px;
    height: auto;
    hyphens: auto;
    text-align: justify;
    font-size: 1rem;
    background-color: rgba(17, 17, 19, 0.7);
    padding: 60px;
    margin: 60px;
}

.meta-def > t1{
    line-height: 2.5;
}

.meta-process{
    padding-top: 56px;
}

/* __________________small screen___________________ */

@media screen and (max-width: 768px) {
    .meta {
        padding: 280px 0;
        translate: 0px;
    }
    .meta-pic{
        width: 50%;
    }
    .metagirl {
        opacity: 0;
    }
    .meta-info {
        flex-direction: column;
        padding: 24px;
        margin: 0;
        gap:24px;
    }
    .meta-info1, .meta-info2{
        width: auto;
    }
    .meta-info1 > t1 , .meta-info2 > t1 {
        line-height: 2;
    }


    .meta-def {
        margin: 0 auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 24px;
    }
    .process-pic {
        width: 90vw;
    }
    
}