.meta {
    padding-top: 240px;
    translate: -300px;
}

/* ______meta-info______ */

.meta-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.metagirl {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100 vh;
    z-index: -1;
}

.meta-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 580px 30px 180px;
}

.meta-info1 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 24px 48px;
}
.meta-info1 > t1 {
    font-weight: 700;
}

.meta-info1 {
    width: 70%;
    height: auto;
}

.meta > t3 {
    text-align: center;
    padding-top: 10px;
}

.meta-info > t3 {
    hyphens: auto;
    text-align: justify;
}


.meta-info1 > t3 {
    padding-top: 8px;
}

.meta-info > t1 {
    line-height: 2.5;
}

metpics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    padding: 0 16px 0;
}

.process-pic {
    width: 50vw;
}

.meta-process{
    padding-top: 56px;
}

/* __________________small screen___________________ */

@media screen and (max-width: 768px) {
    .meta {
        padding: 280px 0;
        translate: 0px;
    }
    .meta-pic{
        width: 50%;
    }
    .metagirl {
        opacity: 0;
    }
    .meta-info {
        flex-direction: column;
        padding: 24px;
        margin: 0;
        gap:24px;
    }
    .meta-info1, .meta-info2{
        width: auto;
    }

    .meta-info1 > t3, .meta-info2 > t3{
        padding-top: 10px;
    }

    .meta-info1 > t1 , .meta-info2 > t1 {
        line-height: 1;
    }

    .process-pic {
        width: 90vw;
    }
    
}