footer {
    font-size: 16px;
    margin-top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid;
    border-width: 1px;
    border-color: #202020;

    background-color: #111113;
    color: white;

    padding: 0.5rem;
    z-index: 50;
}

footerspan {
    margin: 20px auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Top */
.Footer-Top , .Footer-Top p a{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-size: 12px;
    text-decoration: none;
    word-spacing: 2px;
}

/* Bottom */
.Footer-Mid {
    margin-top: 2%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    text-decoration: none;
    word-spacing: 2px;
}

.Footer-Bottom {
    text-align: center;
    background-color: #111113;
    width: 100%;
    font-size: 8px;
    color: white;
    display: grid;
    text-transform: uppercase;
    word-spacing: 2px;
    padding-bottom: 15px;
}


/* Children */
.Footer_Thick {
    font-size: 16px;
    text-transform: uppercase;
}

.Footer_Thin{
    font-size: 12px;
}

footer p {
    line-height: 1;
    padding-bottom: 16px;
}

/*for phone screen*/
@media screen and (max-width: 600px){
    .Footer_Thin, .Footer-Top p a{
        inline-size: 100px auto;
        overflow-wrap: break-word;
        font-size: 8px;
    }
    .Footer_Thick {
        font-size: 14px;
    }
    footerspan {
        gap: 50px;
    }
    .Footer-Bottom{
        translate: 10px;
    }
  }
  
